.first_class {
        display: block;
        margin: auto;
        border-radius: 100%;
}
.first_class:hover {
        transform: scale(1.15);
}
h1 {
        font-family: 'Homenaje', sans-serif;
        font-size: 120px;
        text-align: center;
        position: relative;
        
}
figcaption {
        margin-top: 40px ;
        text-align: center;
        font-size: large;
}